body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  height: 100%;
  width: 100%;
}
#gradientBackground{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(40, 62, 81), rgba(75, 121, 161));
}

#flex-container{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
}

#title{
  margin-left: 100px;
  color: white;
  transform: translateY(-30%);
}

#name{
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}

#subtitle{
  margin: 0px;
  margin-top: -35px;
  margin-bottom: -5px;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

#school{
  font-size: 25px;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.btn{
  margin-top: 5px;
  width: 160px;
  height: 50px;
  border: 2px solid deepskyblue;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.btn:before{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 18px;
  content: "About Me";
  position: absolute;
  top: 10px;
  margin-left: 38px;
  transition: all 0.5s;
}

.btn:hover:before{
  top: -40px;
}


.btn:after{
  content: url("ios-arrow-dropright.svg");
  position: absolute;
  top: calc(100% + 40px);
  width: 30px;
  margin-left: 83px;
  transform: translate(-50%, -50%);
  transition: all 0.5s;

}

.btn:hover:after{
  top: 55.5%;

}

a, a:visited{
  text-decoration:none;
  color:white;
}
