body{

}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.left{
  background-color:#292929;
  flex-grow:1;
  position: absolute;
  top: 0;
  left:0;
  height: 102%;
  width: 50%;
  z-index: -100;
}

#About{
  position: absolute;
  top: 30%;
  width:100%;
  text-align: center;
  color: #FAFAFA;
  font-family: 'Satisfy', cursive;
  font-weight: 100;
  font-size: 10em;
}
#Work{
  position: absolute;
  top: 30%;
  width:100%;
  text-align: center;
  color: #292929;
  font-family: 'Satisfy', cursive;
  font-weight: 100;
  font-size: 10em;
}

#Navigation{
  position: absolute;
  text-align: center;
  width:100%;
  top:85%;
  font-family: 'Poppins', cursive;
  font-size: 1em;
  color: white;
  font-weight: 800;
  white-space: pre;
}

.right{
  background-color: #FAFAFA;
  flex-grow:1;
  position: absolute;
  top: 0;
  left:50%;
  height: 102%;
  width: 50%;
  line-height: 30px;
  letter-spacing: -0.10px;
}

.header{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  margin: 40px;
  margin-left: 25px;
  margin-bottom: 15px;
  color: #292929;
}
.passions{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  margin-left: 25px;
  width: 92%;
  color: #292929;
}

.skills{
  font-family:'Montserrat', sans-serif;
  margin-top:30px;
  margin-left: 25px;
  font-size: 1.7em;
  font-weight: 500;
  color: #292929;
}

#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  height: 400%;
  width: 50%;
  overflow: hidden;
}

.work{
  position: absolute;
  top:102%;
  left:0;
  height: 102%;
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.work>.left{
  background-color: #FAFAFA;
}
.work>.left>#Navigation{
  color: #292929;
}

.work>.right{
  background-color:#292929;
}
.projects{
  position: absolute;
  top:204%;
  left:0;
  height: 102%;
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.projects>.left{
  background-color: #292929;
}
.contact{
  position: absolute;
  top:306%;
  left:0;
  height: 102%;
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.contact>.left{
  background-color: #FAFAFA;

}
.contact>.left>#About, .contact>.left>#Navigation{
  color: #292929;
}
.contact>.right{
  background-color: #292929;
}
